<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/public/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <h1>
        TimeStamp Generator
      </h1>
    </header>
    <main>
      <pre>
        <h4>E.G</h4>
        <p><i>/api/whoami</i></p>

        <h4>Example Output</h4>
        <p> <code
          >{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0
          (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101
          Firefox/50.0"}</code
        ></p>
      </pre>
    </main>
  </body>
</html>
